#GGST{
    width: 315px;
    height: 134px;
    
}

#SFV{
    width: 205px;
    height: 134px;
   
}

#T7{
    width: 175px;
    padding-right: 10px;
    height: 134px;
    
}





h1{
    text-align: center;
}

.games{
    text-align: center;
    
}